<h1>W4 Upload</h1>
{{#file-upload name="photos"
                     accept="application/pdf"
                     multiple=true
                     onfileadd="upload"}}
        <a tabindex=0>Upload your W4</a>
{{/file-upload}}